.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  }
  
  .card {
      margin: 0 2% !important;
  }

  .infected {
    border-bottom: 20px solid rgba(115, 3, 171 );
  }
  
  .recovered {
    border-bottom: 20px solid rgb(11, 181, 11);
  }
  
  .deaths {
    border-bottom: 20px solid rgba(255, 10, 10 );
  } 